<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/me.png" alt="cat profile">
<p>
 I am a passionate developer and tech enthusiast dedicated to creating impactful solutions through programming and innovation. With experience in projects ranging from QR code generation to machine learning-based waste classification, I strive to blend creativity with technology to solve real-world challenges. Constantly learning and exploring new tools and techniques, I enjoy turning ideas into functional applications that make a difference. When I’m not coding, I love diving into the latest tech trends and expanding my knowledge in AI and software development.</p>
  <%- include("partials/footer.ejs") %>