<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>Welcome to My Projects Portfolio!</p>
<p>Here, you can explore my innovative projects that showcase practical applications of technology. 
The QR Generator project enables users to create customized QR codes effortlessly for various
purposes like sharing links, contact info, or event details.</p>
<p>On the other hand, the Waste Management Classification project focuses on leveraging machine 
  learning techniques to classify different types of waste efficiently, helping promote better 
  recycling practices and environmental sustainability. Both projects reflect my commitment to
  solving real-world problems through technology and intelligent design.</p>

  <%- include("partials/footer.ejs") %>